.App {
  min-height: 100vh;
}

.search-form {
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar {
  width: 50%;
  border: none;
  padding: 10px;
}

.search-button {
  background: lightcoral;
  border: none;
  padding: 10px 20px;
  color: white;
}

.recipes {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.card-image {
  height: auto;
  max-height: 250px;
  width: 18rem;
  max-width: 300px;
  align-self: center;
  padding-top: 20px;
}

.progress {
  margin-bottom: 15px;
  margin-top: 5px;
  color: white;
}
